<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyAHy-jV-Jz6J1R_ULdsQJCiKRX9WJgUdBc&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="js/lib/jquery.countdown.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/data.js"></script>
    <script src="js/script.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="app"></div>

    <div id="map_canvas"></div>
    <div id="sidebar">
      <div id="countdown"></div>
      <div id="poi"></div>
    </div>
  </body>
</html>